<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maroon 5 Song Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>Maroon 5 Song Generator</header>
    <div class="button-container">
        <button id="scrapeButton">Scrape Maroon 5 lyrics</button>
        <p>Note: Scraping can take up to 10 minutes.</p>
        <div class="toggle-container">
            <span class="toggle-label">Unigram</span>
            <label class="toggle-switch">
                <input type="checkbox" id="modeToggle">
                <span class="slider"></span>
            </label>
            <span class="toggle-label">Bigram</span>
        </div>
        <button id="trainButton">Train Unigram Model</button>
        <button id="generateButton">Generate Song</button>
    </div>
    
    <div id="message" class="message"></div>
    <div id="songDisplay" class="song-display">
        <h3>Generated Song</h3>
        <div id="songContent"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>